<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/views/home/home.css">
  <title>Home</title>
</head>

<body>
  <header></header>
  <main id="main-container">
      
      <section id="create-template">
          <div>
              <div class="noshow">
                  <h1 class="title">1 - Crie aqui o seu template</h1>
                  <input type='file' id="templateUpload"/>
                  <a href="https://blog.even3.com.br/crachas-para-eventos-academicos/" target="_blank">Dicas: Templates</a>
              </div>
              <canvas id="canvas" width="512" height="512">
              </canvas>
              <div class="func">
                  <label for="color">Coloque aqui a cor do background de onde vai o nome</label>
                  <input id="color">
                  <label for="text">Coloque aqui as especificações do texto.</label>
                  <input id="text">
                  <button onclick="deleteBox()">Clique para deletar a label</button>
                  <label for="nome">Nome da coluna que ficará na primeira label</label>
                  <input id="nome" value="Ex. Nome">
                  <label for="seg">Nome da coluna que ficará na segunda label</label>
                  <input id="seg" value="Ex. Função">
                  <button onclick="preencher()">clique</button>
              </div>
          </div>
      </section>

      <section id="input-persons">
          <div>
              <h1 class="title">2 - Importe seus participantes</h1>
              <p>Copie o conteúdo da planilha excel, incluindo os cabeçalhos e cole aqui.</p>
              <textarea id="nomes"></textarea>
          </div>
      </section>

      <section id="download">
          <div>
              <h1 class="title">3 - Baixe os seus crachás</h1>
              <button id="download-button">Download</button>
          </div>
      </section>

  </main>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/views/home/home.js"></script>
</html>
