<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/assets/favicon.ico"/>
  <!-- Import of the bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Import font -->
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

  <link rel="stylesheet" href="/views/home/home.css">
  <title>Elabore seu Crachá</title>
</head>

<body>
  <header>
      <img src="/assets/even3.png" alt="logo da even3">
  </header>
  <main id="main-container">
      
      <section id="create-template">
          <div >
              <div class="canvas">
                  <h1 class="title"><span class="badge badge-info">1</span> Crie aqui o seu template</h1>
                  <input type='file'  id="templateUpload"/>
                  <div>
                      <a href="https://blog.even3.com.br/crachas-para-eventos-academicos/" target="_blank">Dicas: Templates</a>
                  </div>
                  <canvas id="canvas" width="512" height="512"></canvas>
              </div>
              <div class="big-func">
                  <div class="func">
                      <label for="color" >Aqui vai a cor do background de onde vai o nome. (Lembre-se que as letras serão pretas!)</label>
                      <input id="color" placeholder="#ffffff or white">
                  </div>
                  <button onclick="createBox()" class="btn btn-outline-primary">Clique para criar a label. Crie duas vezes!</button>
                  <div class="func">
                      <label for="text" >Aqui vão as especificações do texto.</label>
                      <input id="text" placeholder="bold 30px Arial">
                  </div>
                  <div class="func">
                      <label for="nome" >Nome da coluna que ficará na primeira label</label>
                      <input id="nome" placeholder="Nome">
                  </div>
                  <div class="func">
                      <label for="seg" >Nome da coluna que ficará na segunda label</label>
                      <input id="seg" placeholder="País">
                  </div>
              </div>
          </div>
      </section>

      <section id="input-persons">
          <div>
              <h1 class="title"><span class="badge badge-info">2</span> Importe seus participantes</h1>
              <p>Copie o conteúdo da planilha excel, incluindo os cabeçalhos e cole aqui.</p>
              <textarea id="nomes"></textarea>
          </div>
      </section>

      <section id="download">
          <div>
              <h1 class="title"><span class="badge badge-info">3</span> Baixe os seus crachás</h1>
              <button id="download-button" class="btn btn-outline-primary">Download</button>
          </div>
      </section>

  </main>

</body>
<!-- Import of Jquery and jsPDF -->
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="/views/home/home.js"></script>
</html>
