<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/views/home/home.css">
  <title>Home</title>
</head>

<body>
  <header></header>
  <main id="main-container">
      
      <section id="create-template">
          <div>
              <div>
                  <h1 class="title">1 - Crie aqui o seu template</h1>
                  <input type='file' id="templateUpload"/>
                  <a href="#">Dicas: Templates</a>
              </div>
              <canvas id="canvas" width="512" height="512"></canvas>
          </div>
      </section>

      <section id="input-persons">
          <div>
              <h1 class="title">2 - Importe seus participantes</h1>
              <p>Copie o conteúdo da planilha excel, incluindo os cabeçalhos e cole aqui.</p>
              <textarea id="nomes"></textarea>
          </div>
      </section>

      <section id="download">
          <div>
              <h1 class="title">3 - Baixe os seus crachás</h1>
              <button>Download</button>
          </div>
      </section>

  </main>

</body>
<script src="/views/home/home.js"></script>
</html>
