{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Elabore seu Crachá!</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    <header></header>
    <main id="main-container">

        <section id="create-template">
            <div>
                <h1 class="title">1 - Crie aqui o seu template</h1>
                <button>Anexar template</button>
                <a href="#">Dicas: Templates</a>
                <img>
            </div>
        </section>

        <section id="input-persons">
            <div>
                <h1 class="title">2 - Importe seus participantes</h1>
                <p>Copie o conteúdo da planilha excel, incluindo os cabeçalhos e cole aqui.</p>

                <textarea></textarea>
            </div>
        </section>

        <section id="download">
            <div>
                <h1 class="title">3 - Faça o download dos seus crachás</h1>

                <button>Download</button>
            </div>
        </section>

    </main>
</body>
</html>
